<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtest"
    android:versionCode="4"
    android:versionName="4.0">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <permission
        android:name="com.example.androidtest.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.androidtest.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- since 1.6.0 -->

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.app.EXAPP"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.view.AnimationActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_show_view" />
        <activity
            android:name="com.example.activity.view.ScrollerActivity"
            android:label="title_activity_scroller" />
        <activity
            android:name="com.example.activity.CommonTestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="title_activity_common"
            android:taskAffinity="com.chinaso.so">
            <intent-filter>
                <action android:name="com.example.androidTest.TEST_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.baidu.com"
                    android:port="80"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.activity.view.MyViewActivity"
            android:label="title_activity_my_view" />
        <activity
            android:name="com.example.activity.view.SurfaceActivity"
            android:label="title_activity_surface" />
        <activity
            android:name="com.example.activity.view.Animation2Activity"
            android:label="title_activity_animation2" />
        <activity
            android:name="com.example.activity.view.ShaderActivity"
            android:label="title_activity_shader" />
        <activity
            android:name="com.example.activity.view.WaveActivity"
            android:label="title_activity_wave" />
        <activity android:name="com.example.activity.view.IqiyiMainActivity" />
        <activity android:name="com.example.activity.view.FiveEightActivity" />
        <activity android:name="com.example.activity.function.OtherActivity" />
        <activity android:name="com.example.activity.view.PathMenuMainActivity" />
        <activity android:name="com.example.activity.view.PullRefreshMainActivity" />
        <activity android:name="com.example.activity.view.GifActivity" />
        <activity
            android:name="com.example.activity.view.VideoActivity"
            android:label="title_activity_video" />
        <activity
            android:name="com.example.activity.function.JSActivity"
            android:label="title_activity_js" />
        <activity
            android:name="com.example.activity.view.PullLayoutActivity"
            android:label="title_activity_pull_layout" />
        <activity
            android:name="com.example.activity.view.ViewScrollActivity"
            android:label="title_activity_view_scroll"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.example.activity.view.EventBusActivity"
            android:label="title_activity_event_bus" />

        <service
            android:name="com.example.service.MyServiceCommon"
            android:enabled="true" />
        <service
            android:name="com.example.service.MyServiceBind"
            android:enabled="true" />
        <service
            android:name="com.example.service.MyIntentService"
            android:enabled="true" />
        <!-- jpush -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.example.androidtest" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.androidtest" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="5bbcb5fef09cb165b6bd8fda" />
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />

        <!-- um analytics -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55a89d7567e58e9b5c000635" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMENG_CHANNEL_VALUE" />

        <activity
            android:name="com.example.activity.view.Animation3Activity"
            android:label="@string/title_activity_animation3" />
        <activity
            android:name="com.example.activity.function.MyActivity"
            android:configChanges="screenSize"
            android:label="@string/title_activity_my" />

        <receiver
            android:name="com.example.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.androidTest.BROADCAST_ACTION" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.activity.function.ContentProviderActivity"
            android:label="@string/title_activity_content_provider" />

        <provider
            android:name="com.example.provider.MyContentProvider"
            android:authorities="com.example.androidTest"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.activity.function.FragmentTestActivity"
            android:label="@string/title_activity_fragment_test" />
        <activity
            android:name="com.example.activity.function.AdaptationActivity"
            android:label="@string/title_activity_adapter" />
        <activity
            android:name="com.example.activity.function.AsyncActivity"
            android:label="@string/title_activity_async" />
        <activity
            android:name="com.example.activity.function.NetActivity"
            android:label="@string/title_activity_net" />
        <activity
            android:name="com.example.activity.view.ViewTestActivity"
            android:label="@string/title_activity_view_test" />
        <activity
            android:name="com.example.activity.function.DraggerViewActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_dragger_view" />
        <activity
            android:name="com.example.activity.view.ViewDragHelperTestActivity"
            android:label="@string/title_activity_view_drag_helper_test" />
        <activity
            android:name="com.example.activity.view.MovieRecorderActivity"
            android:label="@string/title_activity_movie_recorder"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.view.MovieRecorderActivity2"
            android:label="@string/title_activity_movie_recorder_activity2" />
        <activity
            android:name="com.example.activity.function.SocketActivity"
            android:label="@string/title_activity_socket" />
        <activity
            android:name="com.example.activity.view.VideoViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.activity.support.ActionbarActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name="com.example.activity.support.SwipeRefreshLayoutActivity" />
        <activity android:name="com.example.activity.support.CardViewActivity" />
        <activity android:name="com.example.activity.function.PermissionActivity" />
        <activity
            android:name="com.example.activity.function.Permission2Activity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.example.activity.function.WebViewUploadFileActivity" />
        <activity android:name="com.example.activity.function.ButterKnifeTestActivity" />
        <activity android:name="com.example.activity.function.DataBindingTestActivity" />
        <activity android:name="com.example.activity.function.GreenDAOActivity" />
        <activity
            android:name="com.example.activity.view.RecyclerViewActivity"
            android:theme="@style/RecylerTheme" />
        <activity android:name="com.example.activity.view.Surface2CanvasActivity" />
        <activity android:name="com.example.activity.view.ArrayListViewActivity" />
        <activity
            android:name="com.example.activity.view.MaterialDesignActivity"
            android:theme="@style/RecylerTheme" />
        <activity android:name="com.example.activity.view.AppBarLayoutActivity"
            android:theme="@style/RecylerTheme" >
        </activity>
    </application>

</manifest>